[flake8]

# Ignore some warnings/errors. flake8 ignores some warnings/errors by default.
# However, we don't want to ignore the same ones ignored by default. Therefore,
# we define this using `ignore` instead of `extends-ignore`.
#
# E203: whitespace before ':'
#   This is for black compatibility, because there are some instances where
#   black intentionally adds a space before a ':' in slices.
#
# E501: line too long
#   Black will enforce line-length restrictions, so no need to check for it
#   here.
#
# W503: line break before binary operator
#   This is for black compatibility, because black breaks lines before a binary
#   operator. Breaking lines after a binary operator is reported as W504, which
#   is mutually exclusive with W503.
ignore = E203, E501, W503
