# Requirements needed for installing and using the package. Include
# everything necessary to satisfy setup.py's install_requires section.
fire
pandas

# Additional requirements needed for development.
black==19.10b0
flake8==3.8.3
isort==5.2.0
mypy==0.812
pytest==5.4.3
wheel==0.34.2
pip-tools
pre-commit
